<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Desarrolladores: Andres Cardenas y Jeisson Velosa, Base de datos: Miguel Castañeda">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generador de Consecutivos">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/styles.css" >
    <link rel="stylesheet" href="../stylesheets/styleinusers.css" >
    <!--Titulo-->
    <title>Usuarios</title> 
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../images/favicon_cpun.png">
  </head>

  <body class="container">
    <header>
      <!-- Barra de navegación -->
      <nav class="navbar navbar-expand-md">
        <div>
          <!-- Botón dispositivos móviles -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Logotipo y enlaces de navegación -->
          <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand">
              <figure>
                <img src="../images/logo_cpun_02.png" width="250" alt="Logo de la página web">
              </figure>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="main-section">
        <form class="main-section_form">
          <div class="main-section_form-label" >
            <label for="nombre" class="form-label">
              <%= resultUser[0].usuario_id %>
              <%= resultUser[0].usuario_nombre %>
            </label>
          </div>
          <div class="content main-section_form_button">
            <a type="button" class="btn btnsolicitar" href="/" tabindex="5">Solicitar</a>
          </div>
        </form>
      </section>

      <aside class="main-asaid">
        <table class="main-section_table table table-hover table-bordered table-striped mt-4">
          <thead>
            <tr>
              <th scope="col">Prefijo</th>
              <th scope="col">Consecutivo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <% result.forEach((row) => { %>
            <tr>
              <td><%= row.prefijo %></td>
              <td><%= row.consecutivo %></td>
              <td><%= row.descripcion %></td>
              <td><%= row.fecha%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </aside>
    </main>
  
</body>
</html>