<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Desarrolladores: Andres Cardenas y Jeisson Velosa, Base de datos: Miguel Castañeda">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generador de Consecutivos">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/styles.css" >
    <link rel="stylesheet" href="../stylesheets/styleinusers.css" >
    <!--Titulo-->
    <title>Usuarios</title> 
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../images/favicon_cpun.png">
  </head>

  <body class="container">
    <header>
      <!-- Barra de navegación -->
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <!-- Botón dispositivos móviles -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Logotipo y enlaces de navegación -->
          <div class="collapse navbar-collapse" id="menu">
            <a class="navbar-brand">
              <figure>
                <img src="../images/logo_cpun_02.png" width="250" alt="Logo de la página web">
              </figure>
            </a>
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
              <li class="nav-item">
                <a class="nav-link" href='/logout'>Salida</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="main-section">
        <form class="main-section_form" action="/index" method="post">
          <div class="main-section_form-label" >
            <label for="nombre" class="form-label">
              <%= resultUser[0].usuario_nombre %>
            </label>
          </div>
          <div class="content main-section_form_button">
            <button type="submit" class="btn btnsolicitar" href="/" tabindex="5">Solicitar</button>
            <input id="idUser" type="hidden" name="idUser" value="<%= resultUser[0].usuario_id %>">
          </div>
        </form>
      </section>

      <aside class="main-asaid">
        <table class="main-section_table table table-hover mt-4">
          <thead>
            <tr>
              <th scope="col" class="col-sm-2">Fecha</th>
              <th scope="col" class="col-sm-2">Consecutivo</th>
              <th scope="col" class="col-sm-1">Prefijo</th>
              <th scope="col">Dependencia</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <% result.slice(0, 10).forEach((row) => { %>
            <tr>
              <td><%= row.fecha%></td>
              <td><%= row.consecutivo %></td>
              <td><%= row.prefijo %></td>
              <td class="td-justyfy"><%= row.descripcion_prefijo %></td>
              <td class="td-justyfy"><%= row.descripcion %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </aside>
    </main>
  
</body>
<!-- javascripts-->
<script src="/dist/js/jquery-3.6.3.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./main.js"></script>
</html>